body {
    background: linear-gradient(90deg, #160048 0%, #000000 94%);
    color: white;
}

html,
body {
    height: 100%;
}

#osnova {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
}

/*Навігаційна панель*/

.nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: rgb(118, 114, 114);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(118, 114, 114);
}

/*Бококовий текст*/

.sidebar {
    color: white;
    background: linear-gradient(270deg, #160048 0%, #000000 94%);
}

/*Пошукова система*/

#poshuk {
    margin-left: 37%;
    width: 17%;
}

/*Товар*/

.card {
    background: linear-gradient(270deg, #160048 0%, #000000 94%);
    color: white;
}

.card a {
    text-decoration: none;
    color: white;
}

/*Відгуки*/

.koment {
    margin-left: 25%;
    width: 50%;
}

.btn-outline-info {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*Калькулятор*/

.kalkulator {
    margin-top: 3%;
    margin-left: 35%;
    width: 25%;
}

.kalkulator .btn-outline-info {
    width: 100%;
}

#result {
    color: black;
}

.resultat {
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 7px;
    margin-top: 5px;
}

.plusminus {
    text-align: center;
}

/*Силкі*/

footer {
    background: linear-gradient(270deg, #160048 0%, #000000 94%);
}

.slide-text,
.footer-text {
    color: white;
    margin: auto auto;
}

footer a {
    color: white;
}

footer,
.btn-outline-primary {
    color: white;
}

footer a:hover {
    color: #474747;
}

/*Соц. сєті*/

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Вайбер*/

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@media (min-width: 1920px) {
    #buycar {
        margin-top: 7%;
    }
}

@keyframes call {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}