body {
    background: linear-gradient(90deg, #160048 0%, #000000 94%);
}

p {
    color: white;
}

/*навігаційна панель*/

.nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: rgb(118, 114, 114);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(118, 114, 114);
}

/*бкоковий текст*/

.sidebar {
    color: white;
    background: linear-gradient(270deg, #160048 0%, #000000 94%);
}

/*товар*/

.card {
    background: linear-gradient(270deg, #160048 0%, #000000 94%);
    color: white;
}

.card a {
    text-decoration: none;
    color: white    ;
}

/*фоточкі на головній сторінці і те що під ними*/

.slide-text,
.footer-text
 {
    color: white;
    margin: auto auto;
}

footer a {
    text-decoration: none;
    color: white;
}

footer,
.btn-outline-primary
 {
    background: linear-gradient(270deg, #160048 0%, #000000 94%);
}

/*соц. сєті*/

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*вайбер*/

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

/*щоб все було гарно на телефоні*/

@media (max-width: 755px) {
   .carousel-indicators {
    display: none;
   } 
}

footer a:hover {
    color: #2b2b2b;
}
