body {
    background: linear-gradient(90deg, #160048 0%, #000000 94%);
}

a {
    text-decoration: none;
}

section {
    color: white;
    margin-top: 3%;
    display: grid;
    justify-content: center;
}

.container {
    display: flex;
}

/*Навігаційна панель*/

.nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: rgb(118, 114, 114);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(118, 114, 114);
}

.nav-item a:hover {
    color: #474747;
}

/*Наступне попереднє авто*/

.next_old {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.next_old .btn-outline-primary {
    color: white;
}

.old_car_honda {
    display: flex;
    justify-content: space-around;
}

.old_car_honda .btn-outline-primary {
    color: white;
}

.navigation {
    padding-right: 15%;
    padding-left: 15%;
}

.next_auto {
    display: flex;
    justify-content: center;
}

.old_car {
    /* display: none; */
    float: left;
}

.next_auto .btn-outline-primary {
    color: white;
}

/*Інфа про продавця*/

.nazva {
    margin-left: 6%;
}

.cena {
    margin-top: 2%;
}

.cena h5 {
    color: rgb(4, 196, 4);
}

#salesman li {
    list-style: none;
}

.galochka li {
    list-style-type: "✔";
}

.card_info {
    border-radius: 10px;
    color: white;
    background-color: rgb(45, 45, 45);
}

.card_info li {
    margin-left: 1%;
}

#chat {
    text-align: center;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

.card_info p {
    margin-left: 10%;
}

.card_info h4 {
    margin-left: 9%;
}

.card_info h5 {
    text-align: center;
    margin-top: 2%;
    color: rgb(4, 196, 4);
}

.avatar {
    display: flex;
}

.avatar img {
    width: 18%;
    height: 18%;
    margin-top: 2%;
}

/*Основна інформація*/

.info_osnova {
    margin-left: 10%;
    margin-top: 4%;
}

.info_osnova span,
.probig {
    color: gray;
    font-size: larger;
}

.km-probig {
    font-size: large;
    font-weight: 500;
}

.info_osnova h6,
.opis {
    color: gray;
    font-size: larger;
}

.pro_mashinu {
    inline-size: 52rem;
}

/*Фото товара*/

.foto_vasmoi img {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
}

/*Рекомендація*/

.rekomend {
    display: flex;
}

.rekomend .card_rek {
    background: linear-gradient(270deg, #160048 0%, #000000 94%);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
}

.rekomend .card_rek p {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.rekomend .card_rek img {
    border-radius: 7px;
}

.rekomend .card_rek a {
    color: white;
}

/*Силкі*/

.footer-text {
    color: white;
    margin: auto auto;
}

footer a {
    color: white;
}

footer {
    background: linear-gradient(270deg, #160048 0%, #000000 94%);
}

footer a:hover {
    color: #474747;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .pro_mashinu {
        inline-size: 16rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .rekomend {
        display: grid;
        justify-content: center;
    }

    .card_rek {
        margin-top: 10px;
    }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
    .container {
        flex-wrap: wrap-reverse;
    }

    .next_old {
        margin-left: -15%;
    }

    .foto_vasmoi img {
        margin-left: 0;
        width: 100%;
    }

    .next_auto {
        display: flex;
        justify-content: center;
    }

    .info_osnova p,
    .pro_mashinu {
        inline-size: 300px;
    }
}

@media screen and (max-width: 768px) {
    .container {
       flex-wrap: wrap-reverse;
         display: flex;
        justify-content: center;
    }

    .next_auto {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1020px)  {
    .pro_mashinu {
        inline-size: 38rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .pro_mashinu {
        inline-size: 48rem;
    }
}